{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/bi-ye-ji-de-huai-nian/" title="毕业季的怀念" data-pjax>
    <i class="fa fa-pencil"></i>毕业季的怀念
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/san-wen-sui-bi/" title="散文随笔" data-pjax>
    <i class="fa fa-pencil"></i>散文随笔
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/qi-ta/" title="其他" data-pjax>
    <i class="fa fa-pencil"></i>其他
  </a>
</li>
<li class="drawer-list-item">
  <a href="/bo-zhu-zi-shu/" title="博主自述" data-pjax>
    <i class="fa fa-user"></i>博主自述
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

<li class="drawer-list-item">
  <a href="https://github.com/hao-lee" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://blog.csdn.net/mirage1993" target="_blank">
    <i class="fa fa-pencil-square-o"></i>CSDN 技术博客
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://weibo.com/devholee" target="_blank">
    <i class="fa fa-weibo"></i>新浪微博
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://forum.eflclub.me" target="_blank">
    <i class="fa fa-comments"></i>EFL Club 英语论坛
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/Kernel_Hacker" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>