{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/kernel/" title="Linux 内核" data-pjax>
    <i class="fa fa-linux"></i>Linux 内核
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/programming/" title="编程笔记" data-pjax>
    <i class="fa fa-code"></i>编程笔记
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/linux/" title="Linux 笔记" data-pjax>
    <i class="fa fa-terminal"></i>Linux 笔记
  </a>
</li>
<li class="drawer-list-item">
  <a href="/assembly/" title="汇编语言" data-pjax>
    <i class="fa fa-cogs"></i>汇编语言
  </a>
</li>
<li class="drawer-list-item">
  <a href="/others/" title="其他" data-pjax>
    <i class="fa fa-asterisk"></i>其他
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

<li class="drawer-list-item">
  <a href="https://github.com/hao-lee" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://blog.csdn.net/mirage1993" target="_blank">
    <i class="fa fa-pencil-square-o"></i>CSDN 技术博客
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://news.ycombinator.com/user?id=kerneldeveloper" target="_blank">
    <i class="fa fa-hacker-news"></i>Hacker News
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/Kernel_Hacker" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>